<h1><center>Bulk Discounts for: <%=@merchant.name%></center></h1>
<div id = "discount-list">
<%@merchant.bulk_discounts.each do |bulk|%>
  <ul><h3>Percentage Discount: <%= bulk.discount%>%</h3></ul>
  <ul>Merchant must purchase at least <%= bulk.quantity_threshold%> items to use discount.</ul>
<%end%>
</div>


<%= button_to 'Create a New Discount', new_merchant_bulk_discount_path(@merchant), method: :get %>