<h2>Create a New Bulk Discount</h2>
<%= render partial: 'form', locals: {
                                      path: merchant_bulk_discounts_path(@merchant),
                                      method: :post,
                                      button_text: "Submit",
                                      discount: '',
                                      quantity_threshold: '',
                                      } %>

